<div class="container">
  <% if @broomsticks.count > 0 %>
    <div class="hire-section">
      <h1>Hire requests:</h1>
      <div class="booking-cards">
        <% @bookings.each do |booking| %>
          <% if booking.broomstick.user == current_user && !booking.approved %>
            <div class="booking-box">
              <p>Broom broom! You have a hire request from <%= "#{booking.start_date.strftime("%d/%m/%Y")} - #{booking.end_date.strftime("%d/%m/%Y")}" %></p>
              <div class="booking-card">
                <div class="image-box">
                  <img class="card-image" src="broomstic-generic.jpeg" alt="">
                </div>
                <p class="booking-card-text"><%= booking.broomstick.name %></p>
              </div>
              <div class="approval-btns">
                <p><%= link_to "Approve", approve_booking_path(booking.id), data: {turbo_method: :post}, class: "btn-black"%></p>
                <p><%= link_to "Decline", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-light" %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="hired-section">
      <h1>Currently hired:</h1>
      <div class="hired-list">
        <% @bookings.each do |booking| %>
          <% if booking.broomstick.user == current_user && booking.approved %>
            <p><%= link_to "#{booking.broomstick.name} : #{booking.start_date.strftime("%d/%m/%Y")} - #{booking.end_date.strftime("%d/%m/%Y")}", broomstick_path(booking.broomstick) %></p>
          <% end %>
        <% end %>
        <div class="line"></div>
      </div>
    </div>
  <% end %>
  <div class="booking-section">
    <h1>Your bookings:</h1>
    <% if @bookings.empty? %>
      <div class="mt-3">
        <p>Oops! Looks like you don't have any bookings yet.</p>
        <p>Why not browse some of our <%= link_to "broomsticks", broomsticks_path %>?</p>
      </div>
    <% else %>
      <div class="booking-cards">
        <% @bookings.each do |booking| %>
          <div class="booking-box">
            <div class="booking-card">
              <div class="image-box">
                <img class="card-image" src="broomstic-generic.jpeg" alt="">
              </div>
              <p class="booking-card-text"><%= booking.broomstick.name %></p>
            </div>
            <div class="booking-info">
              <div class="mt-3">
                <p><strong>Rented from:</strong> <%= booking.start_date.strftime("%d/%m/%Y") %> <strong>
                to</strong> <%= booking.end_date.strftime("%d/%m/%Y") %></p>
              </div>
              <div class="mt-4">
                <p>price per day: <%= booking.broomstick.price %><i class="fa-solid fa-coins"></i></p>
                <p id="booking-total-price"><strong>TOTAL PRICE: <%= (booking.end_date.yday - booking.start_date.yday) * booking.broomstick.price %><i class="fa-solid fa-coins"></i></strong></p>
              </div>
              <%= link_to "Delete booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
