<div class="container">
  <div>
    <h1>Confirmed bookings:</h1>
  </div>

  <div>
    <% if @bookings.empty? %>
      <p>Oops! Looks like you don't have any bookings yet.</p>
      <p>Why not browse some of our <%= link_to "broomsticks", broomsticks_path %>.</p>
    <% else %>
      <% @bookings.each do |booking| %>
        <h5><strong>Broom:</strong> <%= booking.broomstick.name %></h5>
        <p><strong>Broom details:</strong>
          speed: <%= booking.broomstick.speed %>
          stability: <%= booking.broomstick.stability %>
          price: $<%= booking.broomstick.price %></p>
        <p><strong>Rented from:</strong> <%= booking.start_date.strftime("%d/%m/%Y") %> <strong>to</strong> <%= booking.end_date.strftime("%d/%m/%Y") %></p>
        <%= link_to "Delete booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>
