<%# <header> %>
  <nav class= "navbar" data-controller="navbar">
    <%= link_to "AirBroomNBroom", root_path, class: "logo" %>
    <div class="user">
      <% if user_signed_in? %>
        <div class="user-info">
            <%= link_to "Add a Broomstick", new_broomstick_path, class: "btn btn-black" %>
            <div class="user-content">
              <div class="user-icon">
              <div class="nav-item dropdown">
                <i class="fa-regular fa-circle-user fa-3x dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My Bookings", my_bookings_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
                </div>
              </div>
          </div>
        </div>
      <% else %>
          <div class="nav- item">
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-sign"%>
          <%= link_to "Log In", new_user_session_path, class: "btn btn-log" %>
          <i class="fa-regular fa-circle-user fa-3x"></i>
        </div>
      <% end %>
      </div>
    </div>
  </nav>
<%# </header> %>
