<div class="d-flex flex-column">
  <%= simple_form_for(@broomstick) do |f| %>
    <div class="input-box my-3">
      <%= f.input :name, placeholder: "Nimbus 3000" %>
    </div>

    <div class="input-box my-3">
      <%= f.input :speed, placeholder: "Speed", collection: [ "1", "2", "3"], prompt: "Select speed" %>
    </div>

    <div class="input-box my-3">
      <%= f.input :stability, placeholder: "Stability", collection: [ "1", "2", "3"], prompt: "Select stability" %>
    </div>

    <div class="input-box my-3">
      <%= f.input :price, placeholder: "$100 - $1000", min: "100", max: "1000" %>
    </div>

    <div class="input-box my-3">
      <%= f.input :address, placeholder: "4 Privet Drive, England" %>
    </div>

    <div class="input-box my-3">
      <%= f.input :description, placeholder: "Write a short description about your broom" %>
    </div>

    <div class="input-box my-3">
      <%= f.input :photo, placeholder: "Paste a url link for the image of your broom" %>
    </div>

    <div class="mt-5" id="create-btn">
      <%= f.submit class: "btn btn-black" %>
    </div>

    <div class="my-3" id="cancel-btn">
      <%= link_to "Cancel", broomsticks_path %>
    </div>
  <% end %>
</div>
