<div class="product">

  <div class="product-card d-flex justify-content-around">
        <div class="product-image col-5">
          <% if @broomstick.user == current_user %>
            <%= link_to "Edit", edit_broomstick_path(@broomstick) %>
            <%= link_to "Delete", broomstick_path(@broomstick), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <% end %>
        </div>


    <div class="product-info col-7">
      <div class="pb-2">
        <h1><strong><%= @broomstick.name %></strong></h1>
      </div>

      <hr>

      <div class="price align-items-center">
        <p>Price per day: <%= @broomstick.price %></p>
        <i class="fa-solid fa-coins"></i>
      </div>

<<<<<<< Updated upstream
      <div class="properties align-items-center pt-3">
        <p class="pr-2">Speed:</p>
        <% (@broomstick.speed).times do %>
          <i class="fa-solid fa-bolt"></i>
=======
      <p><strong>Reviews for <%= @broomstick.name %></strong></p>
      <ul class="list-group">
        <% @broomstick.reviews.each do |review| %>
          <li class="list-group-item">
            <%= review.content %>
            <% if review.user == current_user %>
              <%= link_to "Edit", edit_broomstick_review_path(@broomstick, review) %>
              <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></li>
            <% end %>
          <% end %>

    <div class="speed">
      <p>Speed:</p>
      <% (@broomstick.speed).times do %>
        <i class="fa-solid fa-bolt"></i>
>>>>>>> Stashed changes
        <% end %>
        <% (3 - @broomstick.speed).times do %>
          <i class="fa-solid fa-bolt" style="color: rgba(190, 190, 190, 0.8)"></i>
        <% end %>
      </div>

      <div class="properties align-items-center pt-2">
        <p class="pr-2">Stability:</p>
        <% (@broomstick.stability).times do %>
          <i class="fa-solid fa-broom-ball"></i>
        <% end %>
        <% (3 - @broomstick.stability).times do %>
          <i class="fa-solid fa-broom-ball" style="color: rgba(190, 190, 190, 0.8)"></i>
        <% end %>
      </div>

      <div class="properties align-items-center pt-5 pb-3">
        <p><%= @broomstick.description %></p>
      </div>

      <hr>

<<<<<<< Updated upstream
      <div class="location pt-4">
        <%= render "shared/map" %>
        <p class="pt-4">Address: <%= @broomstick.address %></p>
      </div>
=======
    <%= render "shared/map" %>

    <%= render "bookings/booking_form" %>
>>>>>>> Stashed changes

      <hr>

      <div class="reviews">
        <p><strong>What others have said about <%= @broomstick.name %>:</strong></p>
        <ul class="list-group">
          <% @broomstick.reviews.each do |review| %>
            <li class="list-group-item">
              <%= review.content %>
              <% if review.user == current_user %>
                <%= link_to "Edit", edit_broomstick_review_path(@broomstick, review) %>
                <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></li>
              <% end %>
          <% end %>
        <p>Used this broom? Why not <strong><%= link_to "leave a review", new_broomstick_review_path(@broomstick), class:"back-button"%></strong></p>
      </div>
    </div>
  </div>

  <hr>

  <div class="booking">
    <%= render "bookings/booking_form" %>
  </div>
</div>
