<div class="product" data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">

  <div class="product-card d-flex justify-content-around">
    <div class="col-5">
      <div class="product-image"></div>
      <div class="map">
        <%= render "shared/map" %>
      </div>
    </div>


    <div class="product-info col-7">
      <div class="pb-2 justify-content-between">
        <h1><strong><%= @broomstick.name %></strong></h1>
        <div>
          <% if @broomstick.user == current_user %>
            <%= link_to "Edit", edit_broomstick_path(@broomstick) %>
            <%= link_to "Delete", broomstick_path(@broomstick), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <% end %>
        </div>
      </div>

      <hr>

      <div class="price align-items-center">
        <p>Price per day: <%= @broomstick.price %></p>
        <i class="fa-solid fa-coins"></i>
      </div>

      <div class="properties align-items-center pt-3">
        <p class="pr-2">Speed:</p>
        <% (@broomstick.speed).times do %>
          <div class="pr-1">
            <i class="fa-solid fa-bolt"></i>
          </div>
        <% end %>
        <% (3 - @broomstick.speed).times do %>
          <i class="fa-solid fa-bolt" style="color: rgba(190, 190, 190, 0.8)"></i>
        <% end %>
      </div>

      <div class="properties align-items-center pt-2">
        <p class="pr-2">Stability:</p>
        <% (@broomstick.stability).times do %>
          <div class="pr-1">
            <i class="fa-solid fa-broom-ball"></i>
          </div>
        <% end %>
        <% (3 - @broomstick.stability).times do %>
          <i class="fa-solid fa-broom-ball" style="color: rgba(190, 190, 190, 0.8)"></i>
        <% end %>
      </div>

      <div class="properties align-items-center pt-5 pb-3">
        <p><%= @broomstick.description %></p>
      </div>

      <hr>

      <div class="location pt-2">
        <p>Address: <%= @broomstick.address %></p>
      </div>

      <hr>

      <div class="reviews pt-3" data-insert-in-list-target="items">
        <p><strong>What others have said about <%= @broomstick.name %>:</strong></p>
        <ul class="list-group">
          <% @broomstick.reviews.each do |review| %>
              <%= render "review", review: review %>
              <% if review.user == current_user %>
                <%= link_to "Edit", edit_broomstick_review_path(@broomstick, review) %>
                <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></li>
              <% end %>
          <% end %>
        <p class="pt-2">Used this broom? Why not leave a review?</p>
      </div>

      <%= render "/reviews/form", review: @review, broomstick: @broomstick %>

      <hr>

      <div class="booking">
        <%= render "bookings/booking_form" %>
      </div>

    </div>
  </div>
</div>
