<div class="product container" data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
  <div class="product-box">
    <div class="product-box-left">
      <% if @broomstick.photo.present? %>
        <img class="image" src="<%= @broomstick.photo %>" alt="">
      <% else %>
        <img class="image" src="broomstic-generic.jpeg" alt="">
      <% end %>
      <div class="map">
        <%= render "shared/map" %>
      </div>
    </div>

    <div class="product-info col-7">
      <div class="pb-2 justify-content-between">
        <div class="broom-heading">
          <div class="broom-title">
            <h1><strong><%= @broomstick.name %></strong></h1>
            <% if @broomstick.user == current_user %>
              <div class="edit-btns">
                <%= link_to "Edit", edit_broomstick_path(@broomstick) %>
                <%= link_to "Delete", broomstick_path(@broomstick), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </div>
            <% end %>
          </div>
          <div class="price">
            <p>Price: <%= @broomstick.price %><i class="fa-solid fa-coins"></i> per day</p>
          </div>
        </div>
      </div>
      <hr>

      <div class="properties align-items-center pt-3">
        <p class="pr-2">Speed:</p>
        <% (@broomstick.speed).times do %>
          <div class="pr-1">
            <i class="fa-solid fa-bolt"></i>
          </div>
        <% end %>
        <% (3 - @broomstick.speed).times do %>
          <i class="fa-solid fa-bolt" style="color: rgba(190, 190, 190, 0.8)"></i>
        <% end %>
      </div>

      <div class="properties align-items-center pt-2">
        <p class="pr-2">Stability:</p>
        <% (@broomstick.stability).times do %>
          <div class="pr-1">
            <i class="fa-solid fa-broom-ball"></i>
          </div>
        <% end %>
        <% (3 - @broomstick.stability).times do %>
          <i class="fa-solid fa-broom-ball" style="color: rgba(190, 190, 190, 0.8)"></i>
        <% end %>
      </div>

      <div class="properties align-items-center pt-5 pb-3">
        <p>Description: <%= @broomstick.description %></p>
      </div>

      <hr>

      <div class="location pt-2">
        <p>Address: <%= @broomstick.address %></p>
      </div>

      <hr>

      <div class="reviews pt-3">
        <p><strong>What others have said about <%= @broomstick.name %>:</strong></p>
        <p class="pt-2">Used this broom? Why not leave a review?</p>
        <ul class="list-group" data-insert-in-list-target="items">
          <% @broomstick.reviews.each do |review| %>
              <%= render "review", review: review %>
              <% if review.user == current_user %>
                <%= link_to "Edit", edit_broomstick_review_path(@broomstick, review) %>
                <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></li>
              <% end %>
          <% end %>
      </div>

      <%= render "/reviews/form", review: @review, broomstick: @broomstick %>

      <hr>

      <div class="booking">
        <%= render "bookings/booking_form" %>
      </div>

    </div>
  </div>
</div>
